services:
  rocom-petplus:
    build:
      context: .
      args:
        VITE_UMAMI_SRC: ""
        VITE_UMAMI_WEBSITE_ID: ""
        VITE_FEEDBACK_EMAIL: ""
    container_name: rocom-petplus
    ports:
      - "3000:3000"
    volumes:
      - ./apps/api/storage:/app/apps/api/storage
    restart: unless-stopped
